// 04- Intro component with sign up form palette
$primary-red-04:hsl(0, 100%, 74%) ;
$primary-green-04:hsl(154, 59%, 51%) ;
$accent-blue-04: hsl(248, 32%, 49%);
$neutral-dark-blue-04: hsl(249, 10%, 26%) ;
$neutral-grayish-blue-04: #b9b6d3;

// 05- Base Apparel coming soon page palette
// Primary
$primary-red-05 :#ce9797;
$secondary-red-05 : #f96262;
// Neutral
$neutral-grayish-red-05: #413a3a;
// Gradients
$gradient-white-05: linear-gradient(135deg,  hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-red-05: linear-gradient(135deg,  #f8bfbf,  hsl(0, 74%, 74%));

